<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="display:block; margin:auto">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="material-icons">memory</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Chip</h4>
                        <form method="#" action="#">
                            <div class="form-group label-floating">
                                <label class="control-label">Digitos Chip</label>
                                <input type="text" class="form-control">
                            </div>
                            
                            <button type="submit" class="btn pull-right btn-fill btn-info">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="col-lg-10">
                    <div class="card card-pricing card-raised">
                        <div class="content">
                            <h6 class="category"><strong>Douglas</strong></h6>
                            <div class="icon icon-green">
                                <i class="material-icons">face</i>
                            </div>
                            <!-- <h3 class="card-title">$29</h3>
                            <p class="card-description">
                                This is good if your company size is between 2 and 10 Persons.
                            </p>
                            <a href="#" class="btn btn-rose btn-round">Choose Plan</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="timeline timeline-simple">
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">
                            <i class="material-icons">card_travel</i>
                        </div>
                        <div class="timeline-panel">
                            <!-- <div class="timeline-heading">
                                <span class="label label-danger">Some title</span>
                            </div> -->
                            <!-- <div class="timeline-body">
                                <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>
                            </div> -->
                            <h6>
                                <i class="ti-time"></i> Mima No. 5020000000000029
                            </h6>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">
                            <i class="material-icons">card_travel</i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span class="label label-success">Datos generales</span>
                            </div>
                            <div class="timeline-body">
                                <br>
                                <p><strong>Propietario(s):</strong> Fatima</p>
                                <hr>
                                <p><strong>Nombre:</strong> Douglas</p>
                                <p><strong>Fecha de nacimiento:</strong> 2016-04-11</p>
                                <p><strong>Edad:</strong> 2</p>
                                <p><strong>Sexo:</strong> Macho</p>
                                <hr>
                                <!-- <p><strong>Nacionalidad:</strong> Salvadoreño</p>
                                <p><strong>País:</strong> Guatemala</p>
                                <p><strong>Departamento:</strong> Quetzatenango</p> -->

                                <p><strong>Raza:</strong> Corgi</p>
                                <p><strong>Especie:</strong> Perros</p>
                                <p><strong>Color:</strong> Blanco con Cafe Claro</p>
                                <p><strong>Peso:</strong> 15 Kg</p>
                                <hr>
                                <p><strong>Esterilizado:</strong> Si</p>
                                <p><strong>Tatuaje:</strong> No</p>
                                <p><strong>Reproductor:</strong> No</p>
                                <hr>
                                <p><strong>Padre:</strong> Charles</p>
                                <p><strong>Madre:</strong> Cleo</p>
                                <hr>
                                <p><strong>Cirugía:</strong> Si</p>
                                <p><strong>Fecha de cirugía:</strong> 2016-04-11</p>
                                <p><strong>Descripción de cirugía:</strong> descripción</p>
                                
                                <!-- <p><strong>Cuidados especiales:</strong> Está en tratamineto de vitaminas para el crecimiento.</p>
                                <p><strong>Rescatado:</strong> No</p>
                                <p><strong>Fecha de adopción:</strong> 2014-01-06</p>
                                <p><strong>Observaciones:</strong> Sale a hacer sus necesidades a las 7am en punto.</p> -->
                            </div>
                        </div>
                    </li>
                    <!-- <li class="timeline-inverted">
                        <div class="timeline-badge info">
                            <i class="material-icons">fingerprint</i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span class="label label-info">Another Title</span>
                            </div>
                            <div class="timeline-body">
                                <p>Called I Miss the Old Kanye That’s all it was Kanye And I love you like Kanye loves Kanye Famous viewing @ Figueroa and 12th in downtown LA 11:10PM</p>
                                <p>What if Kanye made a song about Kanye Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own It wasn’t any Kanyes Set on his goals Kanye</p>
                                <hr>
                                <div class="dropdown pull-left">
                                    <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                                        <i class="material-icons">build</i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li>
                                            <a href="#action">Action</a>
                                        </li>
                                        <li>
                                            <a href="#action">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#here">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#link">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
